<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title>Restablecer Contraseña</ion-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="restablecerContrasena()">
        <ion-item lines="full">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>
       
        <ion-button expand="full" [disabled]="!email">Restablecer Contraseña</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>