<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="medium"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-avatar style="margin: 0 auto;" class="item-avatar">
    <img alt="logo" src="../../assets/img/Logo.png" />
  </ion-avatar>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title class="ion-text-center">Log In</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>
        <ion-input class="center-content" fill="outline" shape="rounded" labelPlacement="floating" label="Correo"
          [(ngModel)]="userLoginModal.correo"></ion-input>
        <ion-input type="password" class="center-content" style="margin-top: 20px;" fill="outline" shape="rounded" labelPlacement="floating" label="Contraseña"
          [(ngModel)]="userLoginModal.password"></ion-input>

        <div style="margin-top: 20px;" class="center-content">
          <ion-button color="success" (click)="userLogin(userLoginModal)">Login</ion-button>
        </div>
        <div class="Recuperar">
          <a (click)="recuperar()">¿Olvidaste tu contraseña?</a>
        </div>

        
      </div>
    </ion-card-content>
  </ion-card>

  <div></div>

</ion-content>